body{
    font-family: sans-serif;
    background-image: url(../materijali/background-1523115_1280.jpg);
}
/* Uređivanje body-a, mijenjanje fonta i postavljanje slike za pozadinu */

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
/* Uređivanje navigacijske trake */

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Uređivanje sadržaja unutar navigacijske liste(mijenjanje boje, centriranje, položaj, micanje underlinea, ...) */

nav li a:hover {
  background-color: #111;
}
/* mijenjanje boje u pozadini teksta u navigacijskoj listi kada se nalazimo mišem iznad linka */

.ja {
    background-color: #000435;
}
/* mijenjanje boje u pozadini linka glavne stranice */

.ol-film{
    font-weight: 400;
}

ol li{
    font-weight: bold;
}
/* Boldanje samo brojeva u uređenoj listi */

ul li a{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}
/* Mijenjanje fonta i micanje underlinea linkova sa pjesama od Severine */